@mixin respond($breakpoint) {
  @if $breakpoint == "l" {
    @media screen and (max-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == "m" {
    @media screen and (max-width: 769px) {
      @content;
    }
  }
  @if $breakpoint == "s" {
    @media screen and (max-width: 481px) {
      @content;
    }
  }
}

@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin navigationItemPadding {
  padding: 1rem 1.6rem;

  @include respond("s") {
    padding: 1rem;
  }
}
@mixin includeColorClasses {
  .color-primary {
    color: $color-primary;
  }
  .color-secondary {
    color: $color-secondary;
  }
  .color-white {
    color: $color-bg;
  }
  .color-error {
    color: $color-error;
  }
}

@mixin accountBoldFont {
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 500;
}
