// colors
$color-primary: #449287;
$color-primary-dark: #204d4c;

$color-secondary: #f3c032;
$color-secondary-dark: #e6a817;

$color-text: #112a46;
$color-bg: #fff;

$color-grey-dark: #666;
$color-grey-normal: #999;
$color-grey-light: #f2f7f7;

$color-error: #ef233c;
